@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap");

body {
  background-color: #eaebed;
  font-family: "Nunito Sans", sans-serif;
  color: #65696b;
  margin: 0;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-item1 {
  margin: 20px;
  padding: 100px;
  border-radius: 100px;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1),
    -2px -2px 2px rgba(255, 255, 255, 0.5),
    -10px -10px 10px rgba(255, 255, 255, 0.5);
}

.svg-inset {
  fill: #ff8c0088;
}
